body{
    background:black !important;
    color:white;
    
}

.navbar{
    background:black !important;
    position: fixed;
    height:80px;
    
}
 .banner{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/075/840/573/small/stunning-emerald-cut-engagement-ring-highlighting-elegance-and-craftsmanship-in-soft-natural-lighting-photo.jpg);
    width: 100;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
}

.innerlist {
    display: none;
}

.dropdown-item:hover+.innerlist {
    display: block;
}

.innerlist>.nav-link {
    display: none;
}

.innerlist:hover {
    display: block;
}

.hovereffect {
    display: block;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: .5s ease-in-out;
}
.nav-link:hover+.hovereffect {
    width: 100%;
}
.main1_innercontent{
    padding-top:250px;
    width: 50%;
}

/* Card */
.product-card{
    background: black;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    
}

/* card Image */
.product-card img{
    width: 100%;
    height: 250px;
    border-radius: 8px;
}

/* Button Style */
.btn{
    width: 150px;
}

/* right image */
.rightimg{
     border-radius: 8px;
    
}








