body{
    background:black !important;
    color:white;
    
}

.navbar{
    background:black !important;
    position: fixed;
    height:80px;
    
}
 .banner{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/075/840/573/small/stunning-emerald-cut-engagement-ring-highlighting-elegance-and-craftsmanship-in-soft-natural-lighting-photo.jpg);
    width: 100;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
}

.innerlist {
    display: none;
}

.dropdown-item:hover+.innerlist {
    display: block;
}

.innerlist>.nav-link {
    display: none;
}

.innerlist:hover {
    display: block;
}

.hovereffect {
    display: block;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: .5s ease-in-out;
}
.nav-link:hover+.hovereffect {
    width: 100%;
}
.main1_innercontent{
    padding-top:250px;
    width: 50%;
}

/* Card */
.product-card{
    background: black;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    
}

/* card Image */
.product-card img{
    width: 100%;
    height: 250px;
    border-radius: 8px;
}

/* Button Style */
.btn{
    width: 150px;
}

/* right image */
.rightimg{
     border-radius: 8px;
    
}



.footer{
  background:black;
  color:white;
  padding:40px 20px 0;
}

.footer-container{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-between;
}

.footer-box{
  width:23%;
}

/* .footer-box h2, */
.footer-box h3{
  margin-bottom:15px;
}

.footer-box p{
  margin:5px 0;
  color:white;
}

.footer-box ul{
  list-style:none;
  padding:0;
}

.footer-box ul li{
  margin:8px 0;
  color:white;
  cursor:pointer;
}

.footer-box ul li:hover{
  color:orange;
}

.social-icons i{
  background:orange;
  color:black;
  padding:15px;
  border-radius:50%;
  margin-right:10px;
  width: 15%;
  cursor:pointer;
}

.newsletter{
  display:flex;
  margin-top:10px;
}

.newsletter input{
  padding:10px;
  border:none;
  width:70%;
}

.newsletter button{
  padding:10px 15px;
  background:orange;
  border:none;
  cursor:pointer;
}

.newsletter button:hover{
  background:orange;
}

.footer-bottom{
  border-top:1px solid orange;
  text-align:center;
  margin-top:30px;
  padding:15px;
}
/* aboutpage */
.banner1{
    background-image: url(img/banner1.jpg);
    width: 100;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
}

.footer-section h5 {
  color:white;
}

.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.footer-links li a:hover {
  color: orange;
  padding-left: 5px;
}

.newsletter-box{
  width: 130%;
}

/* feedback style */
.feedback-section{
    padding: 100px 0;
}

/* Heading */
.feedback-title{
    text-align:center;
    color:orange;
    letter-spacing:4px;
    margin-bottom:50px;
}

/* Form width */
.form-box{
    width:50%;
    margin:auto;
}

/* Labels */
.form-label{
    color:orange;
    font-size:14px;
}

/* Inputs */
.form-control{
    background-color:whitesmoke;
    border:none;
    border-radius:4px;
    height:40px;
}

textarea.form-control{
    height:120px;
    resize:none;
}

/* Button */
.btn-custom{
    background:orange;
    border:none;
    padding:8px 25px;
    margin-top:15px;
}

.btn-custom:hover{
    background:orange;
}

/* Responsive */
@media(max-width:768px){
    .form-box{
        width:90%;
    }
}

/* feedback page */
.banner3{
    background-image: url(img/banner3.jpeg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}

/*contect page */
.banner4{
    background-image: url(img/banner4.jpeg);
    width: 100;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    margin-top: 80px;
}

/* contect ions */
.contact-box {
  background-color:aliceblue;
  border-radius: 5px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: orange;
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
}

.map-box iframe {
  border-radius: 5px;
}

.fa-fa:hover{
    background:orange;
}







