body{
    background:black !important;
    color:white;
    
}

.navbar{
    background:black !important;
    position: fixed;
    height:80px;
    
}
 .banner{
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/075/840/573/small/stunning-emerald-cut-engagement-ring-highlighting-elegance-and-craftsmanship-in-soft-natural-lighting-photo.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
}

.innerlist {
    display: none;
}

.dropdown-item:hover+.innerlist {
    display: block;
}

.innerlist>.nav-link {
    display: none;
}

.innerlist:hover {
    display: block;
}

.hovereffect {
    display: block;
    width: 0;
    height: 2px;
    background-color: orange;
    transition: .5s ease-in-out;
}
.nav-link:hover+.hovereffect {
    width: 100%;
}
.main1_innercontent{
    padding-top:250px;
    width: 50%;
}

/* Card */
.product-card{
    background: black;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    
}

/* card Image */
.product-card img{
    width: 100%;
    height: 250px;
    border-radius: 8px;
}

/* Button Style */
.btn{
    width: 150px;
}

/* right image */
.rightimg{
     border-radius: 8px;
    
}






/* aboutpage */
.banner1{
    background-image: url(img/banner1.jpg);
    width: 100;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
}


/* feedback style */
.feedback-section{
    padding: 100px 0;
}

/* Heading */
.feedback-title{
    text-align:center;
    color:orange;
    letter-spacing:4px;
    margin-bottom:50px;
}

/* Form width */
.form-box{
    width:50%;
    margin:auto;
}

/* Labels */
.form-label{
    color:orange;
    font-size:14px;
}

/* Inputs */


textarea.form-control{
    height:120px;
    resize:none;
}



/* feedback page */
.banner3{
    background-image: url(img/banner3.jpeg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
}


/*contect page */
.banner4{
    background-image: url(img/banner4.jpeg);
    width: 100;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 0px;
    margin-top: 80px;
}

/* contect ions */
.contact-box {
  background-color:aliceblue;
  border-radius: 5px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: orange;
  color:black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 20px;
}

.map-box iframe {
  border-radius: 5px;
}

.abcd  a {
  color: orange;
  text-decoration: none;
  transition: 0.3s;
}

.abcd  a:hover {
  color: orange !important;
  padding-left: 5px;
}
/*contect page */
.banner5{
    background-image: url(img/banner5.jpeg);
    width: 100;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top:100px
  }
  .background{
    background-color: black;
  }

  /* modal work */

  .modal-body img{
    height: 230px;
    width: 230px;
    float: left;
    margin-left:5px;
  }
  /* Card1 */
.product1-card{
    background: black;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    
}

/* card Image */
.product1-card img{
    width: 100%;
    height: 250px;
    border-radius: 8px;
    transition: transform 0.4s ease-in-out;
    
}
.product1-card img:hover{
transform:translateY(2px) scale(1.07 , 1.07) ;
}


 

  
  
    








